table {
  width: 100vw;
  max-height: 100vw;
}

/*.truncate-cell {*/
/*  max-width: 150px;*/
/*  white-space: break-spaces;*/
/*  overflow: hidden;*/
/*  text-overflow: ellipsis;*/
/*}*/

/*tr.mat-footer-row td {*/
/*  font-weight: bold;*/
/*  text-align: center;*/
/*}*/

td {
  max-width: 10rem;
}

:host ::ng-deep .p-sidebar-bottom {
  height: 65%;
}

:host ::ng-deep .button-float {
  position: fixed;
  bottom: 100px;
  right: 60px;
  cursor: pointer;
  z-index: 500;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.3);
}

:host ::ng-deep .p-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}

:host ::ng-deep .p-datatable {
  z-index: 500;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.centered {
  text-align: center;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.download-button {
  margin-top: .5%;
  flex: fit-content;
  float: left;
}

