<div class="card">
  <p-table
    [columns]="selectedColumns" [value]="variants" [lazy]="true" (onLazyLoad)="loadVariants($event)"
    dataKey="id" [paginator]="true" [rows]="rows" [totalRecords]="dataSource.totalRecords" [resizableColumns]="true"
    [loading]="dataSource.loading" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10, 25, 50]"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(first)]="first" [autoLayout]="true"
    styleClass="p-datatable-striped p-datatable-gridlines"
    selectionMode="single" [(selection)]="selectedVariant" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect()"
    [tableStyle]="{'max-width': '100%'}" [globalFilterFields]="getFilterFields()"
  >
    <ng-template pTemplate="caption">
        <p-toolbar>
          <div class="p-toolbar-group-start">
            <p-multiSelect class="flex align-items-center justify-content-center flex-col"
                           [options]="cols" [(ngModel)]="selectedColumns" display="chip"
                           selectedItemsLabel="{0} columns selected" [style]="{'max-width': '20vw'}"
                           placeholder="Choose Columns" optionLabel="label"
            >
            </p-multiSelect>
          </div>
          <div class="p-toolbar-group-end">
            <p-button (click)="showVariantFilters = true" icon="pi pi-filter" class="mr-2" pTooltip="Filter" tooltipPosition="bottom"></p-button>
            <p-splitButton icon="pi pi-download" [model]="downloadOptions" (onClick)="openCsvDownloadDialog()"
                           pTooltip="Download" tooltipPosition="bottom" class="mr-2"
            ></p-splitButton>
          </div>
        </p-toolbar>

    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.name">
            {{ col.label }}
          </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-variant let-columns="columns">
        <tr [pSelectableRow]="variant">
          <td *ngFor="let col of columns" class="centered ellipsis">
            <a *ngIf="isSnpId(variant, col.name)" href="http://ncbi.nlm.nih.gov/snp/{{ variant.snpId }}" pTooltip="{{ variant.snpId }}" tooltipPosition="top">{{ variant.snpId }}</a>
            <span *ngIf="isMainVariantProperty(variant, col.name)" pTooltip="{{ variant[col.name] }}" tooltipPosition="top">{{ variant[col.name] }}</span>
            <span *ngIf="isGenotype(variant, col.name)" pTooltip="{{ extractGenotype(variant, col.name) }}} " tooltipPosition="top">{{ extractGenotype(variant, col.name) }}</span>
            <span *ngIf="isFrequency(variant, col.name)" pTooltip="{{ extractFrequency(variant, col.name) }} " tooltipPosition="top">{{ extractFrequency(variant, col.name) }}</span>
            <span *ngIf="isConsequence(variant, col.name)" pTooltip="{{ extractConsequence(variant, col.name) }} " tooltipPosition="top">{{ extractConsequence(variant, col.name) }}</span>
          </td>
        </tr>
    </ng-template>
  </p-table>
</div>

<p-sidebar [(visible)]="showVariantFilters" position="bottom"
           [baseZIndex]="10000" style="float: right">
  <app-variant-filter-panel></app-variant-filter-panel>
</p-sidebar>

<p-sidebar
  [(visible)]="showVariantInfoPanel" position="right"
  [baseZIndex]="10000" [style]="{'float': 'right', 'width': '50rem', 'display': 'flex'}"
>
  <app-variant-info-panel [variant]="selectedVariant"></app-variant-info-panel>
</p-sidebar>


<app-download-csv-dialog [visible]="showCsvDownloadDialog" (dialogStateUpdated)="onToggleShowCsvDownloadDialog($event)"></app-download-csv-dialog>

<app-download-vcf-dialog [visible]="showVcfDownloadDialog" (dialogStateUpdated)="onToggleShowVcfDownloadDialog($event)"></app-download-vcf-dialog>
