<app-variant-table-toolbar
  [columnsToDisplay]="columnsToDisplay"
  [onFilterChangeEvent]="onFilterChangeEvent"
  (keyup)="onFilterChange($event)"
  (columnVisualizationChangeEvent)="onColumnVisualizationChange($event)"
></app-variant-table-toolbar>

<section>
  <div class="row">
    <div class="col 12">
      <table mat-table
             [dataSource]="dataSource" multiTemplateDataRows
             matSort cdkDropList
             [cdkDropListData]="displayedColumns"
             cdkDropListOrientation="horizontal"
             (cdkDropListDropped)="drop($event)"
             (matSortChange)="sortData($event)"
      >
        <ng-container [matColumnDef]="column.name" *ngFor="let column of columnsToDisplay">
          <th mat-header-cell
              cdkDrag
              *matHeaderCellDef
              mat-sort-header
          >
            {{column.label}}
          </th>
          <td mat-cell *matCellDef="let element"
              class="truncate-cell"
              [matTooltip]="getTooltip(column.name, element)"
          >
            <a *ngIf="element[column.name] !== '-' && column.name === 'snpId'"
               href="https://www.ncbi.nlm.nih.gov/snp/{{element[column.name]}}"
               target="_blank">
              {{element[column.name]}}
            </a>
            <span *ngIf="element[column.name] === '-' || column.name !== 'snpId'">
              {{element[column.name]}}
            </span>
          </td>
          <td mat-footer-cell *matFooterCellDef
              [attr.colspan]="displayedColumns.length"
          >
            Filtered {{dataSource.totalFilteredVariants}} out of {{dataSource.totalVariants}} variants.
          </td>
        </ng-container>
        <thead>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        </thead>
        <tbody>
          <tr mat-row
              *matRowDef="let row; columns: displayedColumns;"
          ></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell"
                [attr.colspan]="displayedColumns.length"
                *ngIf="dataSource.noResult$ | async"
            >
              No data matching the search value.
            </td>
            <td class="spinner-container centered"
                [attr.colspan]="displayedColumns.length"
                *ngIf="dataSource.loading$ | async"
            >
              <mat-spinner></mat-spinner>
            </td>
          </tr>

          <tr mat-footer-row
              id="variant-table-footer"
              *matFooterRowDef="[displayedColumns[0]]; sticky: true"
              class="mat-table-row-sm position-relative mat-footer-row"
          ></tr>
        </tbody>
      </table>

      <mat-paginator
        [length]="dataSource.totalFilteredVariants"
        [pageSize]="size"
        [pageIndex]="page"
        [pageSizeOptions]="[5, 10, 25, 50, 100, 200]"
        aria-label="Select page of users"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</section>

<p-sidebar [(visible)]="showVariantFilters" position="bottom"
           [baseZIndex]="10000" style="float: right">
  <app-variant-filter-panel></app-variant-filter-panel>
</p-sidebar>
<button pButton pRipple type="button"
        class="p-button-rounded p-button-primary button-float"
        (click)="showVariantFilters = true"
        icon="pi pi-filter"
></button>
