table {
  width: 100vw;
  max-height: 50vw;
}

.truncate-cell {
  max-width: 150px;
  white-space: break-spaces;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr.mat-footer-row td {
  font-weight: bold;
  text-align: center;
}
