.container {
    width: 40%;
    border: 2px solid #26509a;
    padding: 25px;
    text-align: center;
}

.error {
    color: #c00;
    font-weight: bold;
}

.disabled {
    background-color: grey;
    color: #fff;
    box-shadow: 0px 0px;
}

.passwordError {
    position: relative;
    bottom: 50px;
    background-color: #c00;
    color: #fff;
    padding: 15px;
    margin-left: 10px;
    width: 20%;
    border-radius: 15px;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-control {
    border: none;
    border-bottom: 2px solid #26509a;
}

.form-control:focus {
    box-shadow: none;
}

.form-control:focus::placeholder {
    color: transparent;
}

#name {
    display: block;
    margin: 10px;
}

button {
    width: 100%;
    border-radius: 15px;
    background-color: #ffcc84;
    box-shadow: 5px 5px;
    font-weight: bold;
}

button:hover {
    box-shadow: 0px 0px;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

label {
    display: block;
    font-weight: bold;
    text-align: left;
}
