<div class="card">
  <p-splitter
    styleClass="flex justify-content-center mb-5 align-content-center"
    [layout]="layout"
    [appDeviceWidthBreakpoint]="appDeviceWidthBreakpointEvent"
  >
    <ng-template pTemplate>
      <form
        class="property-filter-form flex flex-column col-12"
        [formGroup]="propertyFilterForm"
        (submit)="onSubmit()"
      >
        <div class="flex col-12 justify-content-center align-items-center">
          <span class="p-float-label">
            <p-dropdown
              [formControl]="propertyCtrl"
              [options]="allProperties"
              appendTo="body"
              [(ngModel)]="selectedProperty"
              placeholder="Select property"
              optionLabel="label"
              optionValue="name"
              [showClear]="true"
              inputId="property"
            ></p-dropdown>
            <label for="property">
              <fa-icon [icon]="faTag"></fa-icon>
              <span>Property</span>
            </label>
          </span>
        </div>

        <div class="flex col-12 justify-content-center align-items-center" *ngIf="valueCtrl">
          <span class="p-float-label grip p-fluid">
            <p-multiSelect
              [formControl]="valueCtrl"
              [options]="allValues"
              appendTo="body"
              [(ngModel)]="selectedValues"
              [defaultLabel]="defaultValueLabel"
              optionLabel="label"
              optionValue="id"
              scrollHeight="250px"
              display="chip"
              inputId="value"
              [showClear]="true"
              *ngIf="isValueTypeDropList()"
            ></p-multiSelect>

            <p-chips
              [formControl]="valueCtrl"
              [(ngModel)]="stringValue"
              separator=","
              [placeholder]="defaultValueLabel"
              *ngIf="isValueTypeString()"
              inputId="value"
              [showClear]="true"
              [allowDuplicate]="false"
            ></p-chips>

            <p-inputNumber
              [formControl]="valueCtrl"
              [(ngModel)]="numericValue"
              [showButtons]="true"
              *ngIf="isValueTypeNumeric()"
              inputId="value"
              [showClear]="true"
              mode="decimal"
            ></p-inputNumber>
            <label for="value">
              <fa-icon [icon]="getValueIcon()"></fa-icon>
              <span>{{propertyLabel}}</span>
            </label>
          </span>
        </div>

        <div class="flex col-12 justify-content-center align-items-center">
          <button pButton pRipple class="p-button-rounded">
            <fa-icon [icon]="faPlus"></fa-icon>
            <span>Add</span>
          </button>
        </div>
      </form>
    </ng-template>

    <ng-template pTemplate>
      <div class="property-filter-panel flex flex-column col-12">
        <app-filter-visualizer [filter]="filter" (deleteFilter)="onDeleteFilter($event)"></app-filter-visualizer>
      </div>
    </ng-template>
  </p-splitter>
</div>
