<div class="card">
  <p-splitter styleClass="flex justify-content-center mb-5 align-content-center"
              [layout]="layout"
              [appDeviceWidthBreakpoint]="appDeviceWidthBreakpointEvent">
    <ng-template pTemplate>
      <div class="genotype-filter-form flex flex-column col-12">
        <form
          class="flex flex-column col-12 justify-content-center align-content-center"
          [formGroup]="genotypeFilterForm"
          (submit)="onSubmit()"
        >

          <div class="flex col-12 align-items-center justify-content-center">
            <span class="p-float-label">
              <p-dropdown
                [options]="allSetOperators"
                appendTo="body"
                [(ngModel)]="selectedSetOperators"
                placeholder="Select group operator"
                optionValue="selector"
                optionLabel="label"
                [showClear]="true"
                inputId="selector"
                [formControl]="this.selectorCtrl"
              ></p-dropdown>
              <label for="selector">
                <fa-icon [icon]="faLayerGroup"></fa-icon>
                <span>Group operator</span>
              </label>
            </span>
          </div>

          <div class="flex col-12 align-items-center justify-content-center" *ngIf="numberCtrl">
            <span class="p-float-label">
              <p-inputNumber
                [formControl]="numberCtrl"
                [(ngModel)]="number"
                [showButtons]="true"
                [min]="1"
                inputId="number"
                mode="decimal"
              >
              </p-inputNumber>
              <label for="number">
                <fa-icon [icon]="faHashtag"></fa-icon>
                <span>Any number</span>
              </label>
            </span>
          </div>

          <div class="flex col-12 align-items-center justify-content-center">
          <span class="p-float-label">
            <p-multiSelect
              [options]="allSamples"
              appendTo="body"
              [group]="true"
              [(ngModel)]="selectedSamples"
              defaultLabel="Select samples"
              scrollHeight="250px"
              display="chip"
              optionGroupLabel="name"
              optionGroupChildren="value"
              optionLabel="code"
              optionValue="id"
              [showClear]="true"
              inputId="samples"
              [formControl]="this.individualCtrl"
            >
              <ng-template let-group pTemplate="group">
                <div class="flex align-items-center">
                  <span>{{ group.name }}</span>
                </div>
              </ng-template>
            </p-multiSelect>
            <label for="samples">
              <fa-icon [icon]="faVial"></fa-icon>
              <span>Samples</span>
            </label>
          </span>
          </div>

          <div class="flex col-12 align-items-center justify-content-center">
          <span class="p-float-label">
            <p-multiSelect
              [options]="allGenotypeTypes"
              appendTo="body"
              [(ngModel)]="selectedGenotypes"
              defaultLabel="Select genotype"
              display="chip"
              optionLabel="name"
              optionValue="id"
              [showClear]="true"
              inputId="genotypes"
              [formControl]="genotypeTypeCtrl"
            ></p-multiSelect>
            <label for="genotypes">
              <fa-icon [icon]="faDna"></fa-icon>
              <span>Genotypes</span>
            </label>
          </span>
          </div>

          <div class="flex col-12 align-items-center justify-content-center">
            <p-toast position="bottom-center" key="bc"></p-toast>
            <p-toast position="bottom-center" key="ebc"></p-toast>
            <button pButton pRipple type="submit" class="p-button-rounded">
              <fa-icon [icon]="faPlus"></fa-icon>
              <span>Add</span>
            </button>
          </div>
        </form>
      </div>
    </ng-template>


    <ng-template pTemplate>
      <div class="genotype-filter-panel flex flex-column col-12">
        <app-filter-visualizer [filter]="filter" (deleteFilter)="onDeleteFilter($event)"></app-filter-visualizer>
      </div>
    </ng-template>
  </p-splitter>
</div>
