<mat-grid-list cols="2" rowHeight="fit">
  <mat-grid-tile colspan="1" rowspan="1">
    <form [formGroup]="genotypeFilterForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Arity</mat-label>
        <mat-select [formControl]="selectorCtrl" #arityInput>
          <mat-option *ngFor="let operator of allSelectors" [value]="operator.label">
            {{operator.label}}
          </mat-option>
        </mat-select>
        <button
          matSuffix mat-icon-button type="button"
          aria-label="Clear" (click)="onDeleteButtonClicked()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <br *ngIf="numberCtrl">

      <mat-form-field
        appearance="fill"
        floatLabel="always"
        *ngIf="numberCtrl"
      >
        <mat-label>Multiplicity</mat-label>
        <input type="number" matInput placeholder="0" [formControl]="numberCtrl">
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Samples</mat-label>
        <mat-chip-grid #chipGrid aria-label="Sample selection" [formControl]="individualCtrl">
          <mat-chip-row
            *ngFor="let sample of selectedSamples"
            (removed)="onRemoveSampleChip(sample.code)"
            [value]="sample.id"
          >
            {{sample.code}}
            <button matChipRemove [attr.aria-label]="'remove ' + sample.id">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input matInput
          [formControl]="searchInputCtrl" placeholder="Select samples"
          [matChipInputFor]="chipGrid" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="onInputSampleTokenEnd($event)"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onChangedSelectedSample($event)"
        >
          <mat-option
            *ngFor="let sample of filteredSamples | async" [value]="sample.code"
          >
            {{sample.code}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <br>

      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Genotypes</mat-label>
        <mat-select [formControl]="genotypeTypeCtrl" multiple>
          <mat-option *ngFor="let genotypeType of allGenotypes" [value]="genotypeType.id">
            {{genotypeType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>

      <button
        mat-fab extended [disabled]="!genotypeFilterForm.valid"
        color="primary" class="submit-filter-button"
        type="submit"
      >
        <mat-icon>add</mat-icon>
        Add
      </button>
    </form>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    Genotype filter panel
  </mat-grid-tile>
</mat-grid-list>
