<div class="table-content">
  <div class="p-mb-3">
</div>
<p-table [value]="data" selectionMode="single" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
 [rowsPerPageOptions]="[10,20,50]">
        <ng-template pTemplate="header">
            <tr class="table-header">
              <th class="table-label">Chromosome</th>
              <th class="table-label">Position</th>
              <th class="table-label">Identifier</th>
              <th class="table-label">Variant</th>
              <th class="table-label">Gene</th>
              <th class="table-label">Sift</th>
              <th class="table-label">Polyphen</th>
              <th class="table-label">Change</th>
              <th class="table-label">GMAF</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-eachData>
          <tr (click)="selectData(eachData)" class="table-row" [ngClass]= "{ 'selected': selectedData == eachData }">
            <td class="table-property">
              <p>{{eachData.chrom}}</p>
            </td>
            <td class="table-property">
              <p>{{eachData.pos}}</p>
            </td>
            <td class="table-property">
              <p>{{eachData.identifier}}</p>
            </td>
            <td class="table-property variant-column">
              <p [hidden]="eachData.alt.length > 3 || eachData.ref.length > 3">{{eachData.alt}}/{{eachData.ref}}</p>
              <div *ngIf="eachData.alt.length > 3 || eachData.ref.length > 3">
                <p>{{eachData.alt}}</p><p>{{eachData.ref}}</p>
              </div>
            </td>
            <td class="table-property">
              <p>{{eachData.gene.name}}</p>
            </td>
            <td class="table-property">
              <p [hidden]="eachData.sift == null" class="etiqueta text" [ngClass]= "{ 'red': eachData.sift == 'deleterious', 
                'green': eachData.sift == 'tolerated'}">{{eachData.sift}}</p>
              <p *ngIf="eachData.sift == null">-</p>
            </td>
            <td class="table-property">
              <p [hidden]="eachData.polyphen == null || eachData.polyphen == 'unknown'" class="etiqueta text" 
                [ngClass]= "{ 'red': eachData.polyphen == 'possibly_damaging','orange': eachData.polyphen == 'probably_damaging', 
                'green': eachData.polyphen == 'benign' }">{{eachData.polyphen}}</p>
              <p *ngIf="eachData.polyphen == null || eachData.polyphen == 'unknown'">-</p>
            </td>
            <td class="table-property">
              <p [hidden]="eachData.amino == null">{{eachData.amino}}</p>
              <p *ngIf="eachData.amino == null">-</p>
            </td>
            <td class="table-property">
              <p class="etiqueta" [ngClass]= "{ 'red': eachData.gmaf <= 0.01, 
              'orange': eachData.gmaf > 0.01 && eachData.gmaf <= 0.1, 'green': eachData.gmaf > 0.1 }">
              {{eachData.gmaf}}
            </p>
            </td>
          </tr>
          
        </ng-template>
      </p-table>
</div>
<app-details [selected]="selectedData"></app-details>


