<p-tabView styleClass="tabview-custom">
  <p-tabPanel>
    <ng-template pTemplate="header">
      <fa-icon [icon]="faDna"></fa-icon>
      <span>Genotypes</span>
    </ng-template>
    <app-genotype-filter></app-genotype-filter>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <fa-icon [icon]="faScrewdriverWrench"></fa-icon>
      <span>Properties</span>
    </ng-template>
    <app-properties-filter></app-properties-filter>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <fa-icon [icon]="faPercentage"></fa-icon>
      <span>Frequencies</span>
    </ng-template>
    <app-frequency-filter></app-frequency-filter>
  </p-tabPanel>
</p-tabView>
