<div class="filters-content">
    <div class="filters-column first">
        <div class="filters-firstcolumn-row">
            <div class="chromosome-dropdown">
                <span class="p-float-label">
                    <p-multiSelect id="float-input chromosome" [options]="filterList.chromsList" [(ngModel)]="selectedChromosome"
                    (click)="closeGeneList()" autoZIndex="false">
                    <ng-template pTemplate="footer">
                        <p-button class="clean-button" styleClass="p-button-text"
                        (click)="cleanChromosomeDropdown()">Clear <i class="pi pi-minus-circle clear-icon"></i>
                    </p-button>
                </ng-template>
            </p-multiSelect>
            <label for="float-input">Chromosome</label>
        </span>
    </div>
    <div class="posMin-space">
        <span class="p-float-label p-input-icon-right input-posMin">
            <i class="pi pi-times clean-number-boxes" (click)="cleanPositionMin()"></i>
            <p-inputNumber id="float-input positionMin" [(ngModel)]="posMin" [min]="0" [max]="250000000"
            (click)="closeGeneList()"></p-inputNumber>
            <label for="float-input">Start</label>
        </span>
    </div>
    <div class="posMax-space">
        <span class="p-float-label p-input-icon-right input-posMax">
            <i class="pi pi-times clean-number-boxes" (click)="cleanPositionMax()"></i>
            <p-inputNumber id="float-input positionMax" [(ngModel)]="posMax" [min]="0" [max]="250000000"
            (click)="closeGeneList()"></p-inputNumber>
            <label for="float-input">End</label>
        </span>
    </div>
    <div class="search-gene">
        <div class="searching-genes">
            <span class="p-input-icon-right p-float-label">
                <i class="pi pi-search"></i>
                <input id="float-input search" type="text" pInputText [(ngModel)]="search" (keyup)="getGenes()">
                <label for="float-input">Search by Gene</label>
            </span>
            <div class="search-options" *ngIf="showSearching">
                <p-listbox class="search-list" [options]="genesList" [checkbox]="true" [multiple]="true"
                optionLabel="name" optionValue="symbol" [(ngModel)]="geneSelection">
                <ng-template let-gene pTemplate="item">
                    <div ngbPopover="{{gene.label}}" triggers="mouseenter:mouseleave" container="body">
                        {{ gene.value.symbol }}
                    </div>
                </ng-template>
                <ng-template pTemplate="footer">
                    <p-button class="close-button" styleClass="p-button-text" icon="pi pi-times-circle"
                    (click)="closeGeneList()"></p-button>
                </ng-template>
            </p-listbox>
        </div>
    </div>
</div>
<div class="printing-genes">
    <div class="viewing-genes" *ngIf="geneSelection != undefined && geneSelection.length != 0">
        <p-chips [(ngModel)]="geneSelection">
            <ng-template let-item pTemplate="item">
                {{item.symbol}}
            </ng-template>
        </p-chips>
    </div>
</div>
</div>
<div class="filters-secondcolumn-row">
    <div class="sift-dropdown">
        <span class="p-float-label">
            <p-multiSelect id="float-input sift" [options]="filterList.siftList" [(ngModel)]="selectedSift"
            (click)="closeGeneList()">
            <ng-template pTemplate="footer">
                <p-button class="clean-button" styleClass="p-button-text" (click)="cleanSiftDropdown()">
                    Clear <i class="pi pi-minus-circle clear-icon"></i></p-button>
                </ng-template>
            </p-multiSelect>
            <label for="float-input">Sift</label>
        </span>
    </div>

    <div class="polyphen-dropdown">
        <span class="p-float-label">
            <p-multiSelect id="float-input polyphen" [options]="filterList.polyphenList" [(ngModel)]="selectedPolyphen"
            (click)="closeGeneList()">
            <ng-template pTemplate="footer">
                <p-button class="clean-button" styleClass="p-button-text" (click)="cleanPolyphenDropdown()">
                    Clear <i class="pi pi-minus-circle clear-icon"></i></p-button>
                </ng-template>
            </p-multiSelect>
            <label for="float-input">Polyphen</label>
        </span>
    </div>
    <div class="biotype-dropdown">
        <span class="p-float-label">
            <p-multiSelect id="float-input biotype" [options]="filterList.biotypesList" [(ngModel)]="selectedBiotype"
            (click)="closeGeneList()">
            <ng-template pTemplate="footer">
                <p-button class="clean-button" styleClass="p-button-text" (click)="cleanBiotypeDropdown()">
                    Clear <i class="pi pi-minus-circle clear-icon"></i></p-button>
                </ng-template>
            </p-multiSelect>
            <label for="float-input">Biotype</label>
        </span>
    </div>
    <div class="effects-dropdown">
        <span class="p-float-label">
            <p-multiSelect id="float-input effects" [options]="filterList.impactsList" [(ngModel)]="selectedImpact"
            (click)="closeGeneList()">
            <ng-template pTemplate="footer">
                <p-button class="clean-button" styleClass="p-button-text" (click)="cleanEffectsDropdown()">
                    Clear <i class="pi pi-minus-circle clear-icon"></i></p-button>
                </ng-template>
            </p-multiSelect>
            <label for="float-input">Impacts</label>
        </span>
    </div>
    <div class="gmaf-space">
        <div class="enter-gmaf">
            <span class="p-float-label p-input-icon-right">
                <i class="pi pi-times clean-number-boxes" (click)="cleanGmaf()"></i>
                <p-inputNumber id="float-input gmaf" mode="decimal" [min]="0" [max]="1" [maxFractionDigits]="4"
                [minFractionDigits]="4" [(ngModel)]="gmaf" [ngClass]="{ 'red': gmaf <= 0.0100 && gmaf!= null,
                'orange': gmaf > 0.0100 && gmaf <= 0.1000, 'green': gmaf > 0.1000, 'empty': gmaf == null }"
                (click)="closeGeneList()"></p-inputNumber>
                <label for="float-input">GMAF</label>
            </span>
        </div>
    </div>
</div>
<div class="filters-thirdcolumn-row">
    <div class="genotype-space">
        <div class="effects-dropdown">
            <span class="p-float-label">
                <p-multiSelect id="float-input effects" [options]="genotypeFilter"
                [(ngModel)]="selectedMode"
                (click)="closeGeneList()" display="chip"
                [selectionLimit]="1">
                <ng-template pTemplate="footer">
                    <p-button class="clean-button" styleClass="p-button-text" (click)="cleanModeDropdown()">
                        Clear <i class="pi pi-minus-circle clear-icon"></i></p-button>
                    </ng-template>
                </p-multiSelect>
                <label for="float-input">Model</label>
            </span>
        </div>
    </div>
    <div class="genotype-space">
        <div class="effects-dropdown">
            <span class="p-float-label">
                <p-multiSelect id="float-input effects" [options]="filterList.samplesList"
                [(ngModel)]="selectedSamplesControl"
                (click)="closeGeneList()">
                <ng-template pTemplate="footer">
                    <p-button class="clean-button" styleClass="p-button-text" (click)="cleanSamplesControlDropdown()">
                        Clear <i class="pi pi-minus-circle clear-icon"></i></p-button>
                    </ng-template>
                </p-multiSelect>
                <label for="float-input">Controls</label>
            </span>
        </div>
    </div>
    <div class="genotype-space">
        <div class="effects-dropdown">
            <span class="p-float-label">
                <p-multiSelect id="float-input effects" [options]="filterList.samplesList"
                [(ngModel)]="selectedSamplesCase"
                (click)="closeGeneList()">
                <ng-template pTemplate="footer">
                    <p-button class="clean-button" styleClass="p-button-text" (click)="cleanSamplesCaseDropdown()">
                        Clear <i class="pi pi-minus-circle clear-icon"></i></p-button>
                    </ng-template>
                </p-multiSelect>
                <label for="float-input">Cases</label>
            </span>
        </div>
    </div>
</div>
</div>
<div class="filters-column second">
    <button pButton type="button" class="reset-button" label="Reset" (click)="cleanFilters()"></button>
    <button pButton type="button" class="search-button" label="Search" (click)="filterVariants()"></button>
</div>
</div>