.footer {
	width: 100%;
	display: flex;
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
}

.footer .info {
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;
}

.footer .info span {
    margin-right: 15px;
}

button {
    border: none;
    background-color: transparent;
}

span {
    font-weight: bold;
}