<div class="footer">
    <div class="info">
        <span>Total variants: 56.000</span>
        <span *ngIf="visible">Filtered variants: 100</span>
    </div>
    <div class="controls">
        <button type="button" onclick="console.log('prueba primera pág.')">
            <span><<</span>
        </button>
        <button type="button" onclick="console.log('prueba pág. anterior')">
            <span><</span>
        </button>
        <span>1</span>
        <button type="button" onclick="console.log('prueba pág. siguiente')">
            <span>></span>
        </button>
        <button type="button" onclick="console.log('prueba última pág.')">
            <span>>></span>
        </button>                
    </div>
</div>
