<div class="container">
    <div class="header">
        <span>Properties filter</span>
    </div>
    <div class="filtersContainer">
        <div class="filters">
            <form #propertiesFilter="ngForm" (ngSubmit)="addFilter(propertiesFilter)">
                <div class="form-group">
                    <label for="field">Field</label>
                    <select #field="ngModel" name="field" class="form-control" ngModel required>
                        <option *ngFor="let fieldOption of fieldOptions" [ngValue]="fieldOption">
                            {{ fieldOption.name }}
                        </option>
                    </select>
                </div>  
                <div class="form-group">
                    <label for="operator">Operator</label>
                    <ng-container *ngIf="propertiesFilter.value.field.name === 'Start'">
                        <select 
                            #operator="ngModel" 
                            name="operator" 
                            class="form-control" 
                            [disabled]="propertiesFilter.value.field.type !== 'number'"
                            ngModel 
                            required
                        >
                            <option value=">=">>=</option>
                        </select>
                    </ng-container>
                    <ng-container *ngIf="propertiesFilter.value.field.name === 'End'">
                        <select 
                            #operator="ngModel" 
                            name="operator" 
                            class="form-control" 
                            [disabled]="propertiesFilter.value.field.type !== 'number'"
                            ngModel 
                            required
                        >
                            <option value="<="><=</option>
                        </select>
                    </ng-container>
                    <ng-container
                        *ngIf="propertiesFilter.value.field.name !== 'Start' && propertiesFilter.value.field.name !== 'End'"
                    >
                        <select 
                            #operator="ngModel" 
                            name="operator" 
                            class="form-control" 
                            [disabled]="propertiesFilter.value.field.type !== 'number'"
                            ngModel 
                            required
                        >
                            <option value=">">></option>
                            <option value="<"><</option>
                            <option value=">=">>=</option>
                            <option value="<="><=</option>
                        </select>
                    </ng-container>
                </div>   
                <div class="form-group">
                    <label for="value">Value</label>
                    <ng-container *ngIf="propertiesFilter.value.field.type === 'list'">
                        <!-- OPCIONES PARA CHROMOSOMES -->
                        <ng-container *ngIf="propertiesFilter.value.field.name === 'Chromosomes'">
                            <ng-multiselect-dropdown
                                name="value" 
                                ngDefaultControl
                                [settings]="chromosomeSettings"
                                [data]="chromosomesList"
                                [(ngModel)]="selectedChromosomes"
                                class="form-control"
                                style="border: none;"                        
                                required
                            >
                            </ng-multiselect-dropdown>
                        </ng-container>
                        <!-- OPCIONES PARA GENES -->
                        <ng-container *ngIf="propertiesFilter.value.field.name === 'Genes'">
                            <ng-multiselect-dropdown
                                name="value" 
                                ngDefaultControl
                                [settings]="geneSettings"
                                [data]="genesList"
                                [(ngModel)]="selectedGenes"
                                (onFilterChange)="getGenes($event)"
                                class="form-control"
                                style="border: none;"                        
                                required
                            >
                            </ng-multiselect-dropdown>
                        </ng-container>                        
                        <!-- OPCIONES PARA EFFECTS -->
                        <ng-container *ngIf="propertiesFilter.value.field.name === 'Effects'">
                            <ng-multiselect-dropdown
                                name="value" 
                                ngDefaultControl
                                [settings]="effectSettings"
                                [data]="effectsList"
                                [(ngModel)]="selectedEffects"
                                class="form-control"
                                style="border: none;"                        
                                required
                            >
                            </ng-multiselect-dropdown>
                        </ng-container>
                        <!-- OPCIONES PARA IMPACTS -->
                        <ng-container *ngIf="propertiesFilter.value.field.name === 'Impacts'">
                            <ng-multiselect-dropdown
                                name="value" 
                                ngDefaultControl
                                [settings]="impactSettings"
                                [data]="impactsList"
                                [(ngModel)]="selectedImpacts"
                                class="form-control"
                                style="border: none;"                        
                                required
                            >
                            </ng-multiselect-dropdown>
                        </ng-container>
                        <!-- OPCIONES PARA BIOTYPES -->
                        <ng-container *ngIf="propertiesFilter.value.field.name === 'Biotypes'">
                            <ng-multiselect-dropdown
                                name="value" 
                                ngDefaultControl
                                [settings]="biotypeSettings"
                                [data]="biotypesList"
                                [(ngModel)]="selectedBiotypes"
                                class="form-control"
                                style="border: none;"                        
                                required
                            >
                            </ng-multiselect-dropdown>
                        </ng-container>                                                                                                
                    </ng-container>
                    <!-- OPCIONES PARA FILTROS NUMÉRICOS -->
                    <ng-container *ngIf="propertiesFilter.value.field.name !== 'Identifiers'">
                        <input
                            *ngIf="propertiesFilter.value.field.type !== 'list'"
                            #value="ngModel" 
                            type="number" 
                            name="value"
                            class="form-control" 
                            min="1"
                            value="1"                        
                            ngModel 
                            required> 
                    </ng-container>
                    <!-- OPCIONES PARA IDENTIFICADORES -->  
                    <input
                        *ngIf="propertiesFilter.value.field.name === 'Identifiers'"
                        #value="ngModel" 
                        type="text" 
                        name="value"
                        class="form-control"                         
                        ngModel 
                        required>                                          
                </div>                                                          
                <button 
                    type="submit" 
                    [ngClass]="{
                        'disabled': propertiesFilter.invalid, 
                        'addButton': propertiesFilter.valid}" 
                    [disabled]="propertiesFilter.invalid">
                    <span>Add</span>
                </button>
            </form>        
        </div>
        <div class="appliedFilters">
            <div *ngFor="let appliedFilter of appliedFiltersList | keyvalue">
                <span *ngIf="appliedFilter.value.inputType === 'number'">
                    {{ appliedFilter.key }} {{ appliedFilter.value.operator }} {{ appliedFilter.value.value }}
                </span>
                <span *ngIf="appliedFilter.value.inputType === 'list'">
                    {{ appliedFilter.key }} equals [{{ appliedFilter.value.values }}]
                </span>
                <button id="removeButton" (click)="removeFilter(appliedFilter.key)">
                    <img src="../../../assets/icon/icons8-residuos-48.png" alt="removeFilter" style="width: 30px; height: 30px;">
                </button>
            </div>
<!--             <span id="extraFilters" *ngIf="getAppliedFiltersLength() > 5">
                +{{ getAppliedFiltersLength()-5 }} filters applied
            </span> -->
        </div>        
    </div>
</div>
