<div class="card flex justify-content-center">
  <p-dialog header="Download CSV" [(visible)]="visible" (onHide)="cancel()" class="flex">
    <p>Select the fields to display in the resulting CSV file.</p>
    <p-fieldset legend="Property fields">
      <span class="p-float-label m-2">
            <p-multiSelect [options]="availablePropertyFields" [(ngModel)]="selectedPropertyFields" appendTo="body"
                           display="chip" optionLabel="label" [style]="{ 'width': '40vw' }"></p-multiSelect>
            <label for="properties">Select properties</label>
      </span>
    </p-fieldset>

    <p-fieldset legend="Consequence fields">
      <span class="p-float-label m-2">
            <p-multiSelect [options]="availableConsequenceFields" [(ngModel)]="selectedConsequenceFields" appendTo="body"
                           display="chip" optionLabel="label" [style]="{ 'width': '40vw' }"></p-multiSelect>
            <label for="consequence">Select consequence</label>
      </span>
    </p-fieldset>

    <p-fieldset legend="Frequency fields">
      <span class="p-float-label m-2">
            <p-multiSelect [options]="availableFrequencyFields" [(ngModel)]="selectedFrequencyFields" appendTo="body"
                           display="chip" optionLabel="label" [style]="{ 'width': '40vw' }"></p-multiSelect>
            <label for="frequency">Select frequencies</label>
      </span>
    </p-fieldset>

    <p-fieldset legend="Sample fields">
      <span class="p-float-label m-2">
            <p-multiSelect [options]="availableSampleFields" [(ngModel)]="selectedSampleFields" appendTo="body"
                           display="chip" optionLabel="label" [style]="{ 'width': '40vw' }" [group]="true">
              <ng-template let-group pTemplate="group">
                  <div class="flex align-items-center">
                      <span>{{ group.group }}</span>
                  </div>
              </ng-template>
            </p-multiSelect>
            <label for="sample">Select sample fields</label>
      </span>
    </p-fieldset>
    <div class="flex justify-content-center m-4">
      <p-toast position="bottom-center" key="bc"></p-toast>
      <p-button (click)="download()" icon="pi pi-download" label="Download" class="mr-2"></p-button>
      <p-button (click)="cancel()" icon="pi pi-times" label="Cancel" class="p-button-danger mr-2"></p-button>
    </div>
  </p-dialog>
</div>

