span {
  margin: 0 .5rem
}

:host ::ng-deep .p-splitter {
  height: 50%;
}

:host ::ng-deep .p-dropdown {
  min-width: 15rem;
  width: 18rem;
}

:host ::ng-deep .p-multiselect {
  min-width: 15rem;
  width: 18rem;
}

:host ::ng-deep .p-multiselect-panel {
  position: relative;
}

:host ::ng-deep .p-inputNumber {
  min-width: 15rem;
  width: 18rem;
}

:host ::ng-deep .p-button {
  margin-right: .5rem;
}
