
.info-container{
    padding: 0rem 1rem 1rem 1rem;
}

/*.details-content{
    height: 100%;
    width: 30%;
    float: left;
    margin-left: 3%;
}*/

.table-property{
    text-align: center !important;
    padding: 0rem 0.2rem !important;
    border-bottom: 2px solid #e9ecef !important;
}

.table-label{
    text-align: center !important;
    background: white !important;
    width: 50%;
}

.gene-space{
    margin-top: 0px;
    text-align: center;
}

.population-source{
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    width: 25%;
    float: left;
    padding: 0.25em 0;
}

.allele-info{
    margin: 5px 0;
}

.effect-description{
    display: none;
    border: 2px solid #E2EEF9; 
    border-radius: 15px;
    padding: 5px;
    font-size: 14px;
    background-color: #E2EEF9;
    font-weight: 500;
    text-align: center;
    color:#495057;
    margin-top: 5px;
}

#effect-space{
    margin-bottom: 20px;
    text-align: center;
}

.effect-name{
    text-transform: capitalize;
    cursor: pointer;
    border-bottom: #495057 dotted 1px;
}

#effect-space:hover .effect-description{
    display: block;
}

.details-table th{
    background: #E2EEF9 !important;
    padding: 14px;
    border: 1px solid #E2EEF9 !important;
}

.details-table.first-choice .label{
    width: 40%;
}

.label{
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    margin: 0 auto;
    width: 100%;
}

.gene-link{
    color: #8BAED0;
    font-weight: 500;
}

.gene-link:hover{
    color: #5D85AC;
}

.close-button .p-button-text{
    width: 1rem;
}

.none{
    display: none !important;
}

.table-property.population{
    padding: 7px 5px !important;
}

.table-label.population{
    width: 100px;
}

.hide-elements{
    display: flex;
    align-items: center;
}

.close-button{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.no-data{
    margin: 0 auto;
    text-align: center;
    color: #495057;
    font-style: italic;
    font-weight: 600;
}

.no-data p{
    margin: 0 auto;
    border: 1px solid #E2EEF9;
    padding: 12px;
}
