<p-table
  [columns]="genotypeColumns" [value]="genotypes"
  dataKey="id" (sortFunction)="onSort($event)" [customSort]="true"
  styleClass="p-datatable-striped p-datatable-gridlines"
  [globalFilterFields]="['individual', 'genotype']"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.name" >
        <p-columnFilter type="text" [field]="col.name" display="menu"
          *ngIf="['individual','genotype'].includes(col.name)"
        >
        </p-columnFilter>
        {{ col.label }} <p-sortIcon [field]="col.name"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-genotype>
    <tr>
      <td class="centered">
        <span>{{ genotype['individual'] }}</span>
      </td>
      <td class="centered">
        <span>{{ variant['allele'] }}</span>
      </td>
      <td class="centered">
        <span>{{ genotype['genotype'] }}</span>
      </td>
      <td class="centered">
        <span>{{ getGenotypeCounts(genotype) }}</span>
      </td>
      <td class="centered">
        <span>{{ getGenotypeDP(genotype) }}</span>
      </td>
    </tr>
  </ng-template>
</p-table>
