
<div class="main-container">
  <app-filters class="filters-space"></app-filters>
  <div class="results-container">
    <app-table class="table-space"></app-table>
    <app-details class="details-space"></app-details>
  </div>
</div>

<table>
      <tr>
          <th>Chromosome</th>
          <th>Position</th>
          <th>Variant</th>
          <th>Gene</th>
          <th>AA change</th>
          <th>GMAF</th>
      </tr>
      <tr *ngFor="let each of data">
          <td>{{each.chrom}}</td>
          <td>{{each.pos}}</td>
          <td>{{each.alt}}{{each.ref}}</td>
          <td>{{each.gene.name}}</td>
          <td>{{each.sift}}</td>
          <td>{{each.poliphen}}</td>
      </tr>
</table>
