<div class="body" class="text-center">
	<form class="form-signin">
		<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
		<label for="inputEmail" class="sr-only">User</label>
		<input type="text" id="inputEmail" class="form-control" name="username" placeholder="User" autofocus="">
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password">

		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
</div>