<mat-toolbar color="primary">
  <mat-form-field class="mat-form-field" appearance="fill">
    <mat-label class="mat-form-field">Search</mat-label>
    <input
      matInput
      class="mat-input-filter"
      placeholder="Enter search value"
    >
  </mat-form-field>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button aria-label="Download variants">
    <mat-icon>download</mat-icon>
  </button>
  <button
    mat-icon-button
    class="items-center"
    [matMenuTriggerFor]="menu"
    aria-label="Show/Hide columns"
  >
    <mat-icon>view_column</mat-icon>
  </button>
  <mat-menu
    #menu="matMenu"
    class="mat-menu-icon"
  >
      <span>
        <mat-checkbox
          [checked]="allChecked"
          [indeterminate]="someComplete()"
          (change)="setAll($event.checked)"
          (click)="$event.stopPropagation()"
        >
          Select all
        </mat-checkbox>
      </span>
    <span>
        <ul>
          <li *ngFor="let column of columnsToDisplay" (click)="$event.stopPropagation()">
            <mat-checkbox
              [(ngModel)]="column.visualize"
              (ngModelChange)="updateAllComplete()"
            >
              {{column.label}}
            </mat-checkbox>
          </li>
        </ul>
      </span>
  </mat-menu>
</mat-toolbar>
