.filters-content{
    background-color: #E2EEF9;
    width: 100%;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.filters-column{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filters-column.second{
    margin-top: 10px;
}

.gmaf-space{
    display: flex;
    align-items: center;
}

.enter-gmaf input{
    width: 80px;
    height: 40px;
}

.slider-gmaf{
    width: 200px;
    margin-left: 20px;
}


.filters-text{
    font-weight: 600;
}

.search-gene, .gmaf-space, .chromosome-dropdown, .sift-dropdown, .polyphen-dropdown, .biotype-dropdown, .effects-dropdown{
    padding: 10px;
}

.search-gene input:focus{
    box-shadow: 0 0 0 0.1rem #B9D1E9;
}

.empty{
    background-color: white !important;
    color: #495057;
}

label {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.position-space input{
    width: 100px;
} 

.position-space{
    display: flex;
}

.input-posMin{
    margin-right: 15px;
}

