<div class="filters-content">
    <!--<p class="filters-text">Espacio para los filtros</p>-->
    <div class="filters-column first">
        <div class="chromosome-dropdown">
            <span class="p-float-label"> 
                <p-multiSelect id="float-input chromosome" [options]="chromosomes" [(ngModel)]="selectedChromosome"></p-multiSelect>
                <label for="float-input">Chromosome</label>
            </span>
        </div>
        <div class="position-space">
            <span class="p-float-label input-posMin">
                <input id="float-input positionMin" type="text" pInputText [(ngModel)]="posMin" (blur)=onBlurMin()>  
                <label for="float-input">Position Min</label>       
            </span>
            <span class="p-float-label iput-posMax">
                <input id="float-input positionMax" type="text" pInputText [(ngModel)]="posMax" (blur)=onBlurMax()>  
                <label for="float-input">Position Max</label>       
            </span>
        </div>
        <div class="search-gene">
            <span class="p-input-icon-right p-float-label">
                <i class="pi pi-search"></i>
                <input id="float-input search" type="text" pInputText [(ngModel)]="search">  
                <label for="float-input">Search by Gene</label>       
            </span>
        </div>
        <div class="sift-dropdown">
            <span class="p-float-label"> 
                <p-multiSelect id="float-input sift" [options]="siftOptions" [(ngModel)]="selectedSift"></p-multiSelect>
                <label for="float-input">Sift</label>
            </span>
        </div>
        <div class="polyphen-dropdown">
            <span class="p-float-label"> 
                <p-multiSelect id="float-input polyphen" [options]="polyphenOptions" [(ngModel)]="selectedPolyphen"></p-multiSelect>
                <label for="float-input">Polyphen</label>
            </span>
        </div>
        
    </div>
    <div class="filters-column second">
        <div class="biotype-dropdown">
            <span class="p-float-label"> 
                <p-multiSelect id="float-input biotype" [options]="biotypes" [(ngModel)]="selectedBiotype" ></p-multiSelect>
                <label for="float-input">Biotype</label>
            </span>
        </div>
        <div class="effects-dropdown">
            <span class="p-float-label"> 
                <p-multiSelect id="float-input effects" [options]="effects" [(ngModel)]="selectedEffect"></p-multiSelect>
                <label for="float-input">Effects</label>
            </span>
        </div>
        <div class="gmaf-space">
            <div class="enter-gmaf">
                 <span class="p-float-label"> 
                     <input id="float-input gmaf" pInputText [(ngModel)]="value" [ngClass]= "{ 'red': value <= 0.01, 
                     'orange': value > 0.01 && value <= 0.1, 'green': value > 0.1, 'empty': value == null }">
                     <label for="float-input">GMAF</label>
                 </span>
             </div>
             <div class="slider-gmaf">
                 <ng5-slider  [(value)]="value" [options]="options" ></ng5-slider>
             </div>
         </div>
     </div>
    </div>