.filters-content{
    background-color: #F1F4F7;
    width: 100%;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.filters-column{
    display: flex;
}
.gmaf-space{
    display: flex;
}

.enter-gmaf{
    width: 80px;
    height: 40px;
}

.slider-gmaf{
    width: 200px;
    margin-left: 20px;
}

.filters-text{
    font-weight: 600;
}

.search-gene, .gmaf-space, .chromosome-dropdown, .sift-dropdown, .polyphen-dropdown, .biotype-dropdown, .effects-dropdown{
    padding: 10px;
}

.search-gene input:focus{
    box-shadow: 0 0 0 0.1rem #B9D1E9;
}

.empty{
    background-color: white !important;
    color: #495057;
}