.filters-content{
    background-color: #E2EEF9;
    width: 100%;
    text-align:center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}


.filters-column.first{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.filters-column.second{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}


.gmaf-space{
    display: flex;
    align-items: center;
}

.enter-gmaf input{
    width: 90px;
    height: 40px;
}

.slider-gmaf{
    width: 200px;
    margin-left: 20px;
}


.filters-text{
    font-weight: 600;
}

.search-gene, .gmaf-space, .chromosome-dropdown, .sift-dropdown, .polyphen-dropdown, .biotype-dropdown, .effects-dropdown{
    padding: 15px 10px;
}

.search-gene input:focus{
    box-shadow: 0 0 0 0.1rem #B9D1E9;
}

.search-gene{
    display: flex;
}

.empty{
    background-color: white !important;
    color: #495057;
    border-color:  #B9D1E9 !important;
}

.empty:hover{
    background-color: white !important;
    color: #495057;
    border-color:  #B9D1E9 !important;
}

.empty:focus{
    box-shadow: 0 0 0 0.04rem #B9D1E9 !important;
}
label {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.position-space input{
    width: 100px;
} 

.position-space{
    display: flex;
}

.input-posMin{
    margin-right: 15px;
}

.search-button, .clean-button{
    background-color: #8BAED0;
    border: #8BAED0;
    box-shadow: 0 3px 1px -2px rgba(1, 1, 1, 0.2), 0 2px 2px 0 rgba(1, 1, 1, 0.14), 0 1px 5px 0 rgba(1, 1, 1, 0.12);
    margin: 15px 10px;
    width: 200px;
}

.search-button:hover, .clean-button:hover{
    background-color: #5D85AC;
    border: #5D85AC ;
}

.viewing-genes{
    width: min-content;
}

.errase-gmaf{
    cursor: pointer;
}


