<table class="table">
    <tr class="tableHeader">
      <th>SNP Id</th>
      <th>Coordinate</th>
      <th>Variant</th>
      <th>HGVS.p</th>
      <th>Gene</th>
      <th>Consequence</th>
      <th>DP</th>
      <th>Frecuencia</th>
      <th>GMAF</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
      <td>Germany</td>
    </tr>                
</table>
<span>{{ variant }}</span>