<div class="container" >
  <div class="header">
    <div class="title">
      <h5>Properties</h5>
    </div>
  </div>
  <table data-toggle="table" [attr.data]="data">
    <thead>
      <tr>
        <th data-field="id"><b>ID</b></th>
        <th data-field="value"><b>Value</b></th>
      </tr>
    </thead>
  </table>

  <div class="header">
    <div class="title">
      <h5>Frequencies</h5>
    </div>
  </div>
  <table data-toggle="table">
    <thead>
      <tr>
        <th><b>Source</b></th>
        <th><b>Population</b></th>
        <th><b>Frequency</b></th>
      </tr>
    </thead>
  </table>

  <div class="header">
    <div class="title">
      <h5>Genotypes</h5>
    </div>
  </div>
  <table data-toggle="table">
    <thead>
      <tr>
        <th><b>Sample</b></th>
        <th><b>Alleles</b></th>
        <th><b>Genotype</b></th>
        <th><b>Count</b></th>
      </tr>
    </thead>
  </table>
</div>
