/* You can add global styles to this file, and also import other style files */

/*

.color-primary-0 { color: #B9D1E9 }	
.color-primary-1 { color: #FFFFFF }
.color-primary-2 { color: #E2EEF9 }
.color-primary-3 { color: #8BAED0 }
.color-primary-4 { color: #5D85AC }

.rgba-primary-0 { color: rgba(185,209,233,1) }
.rgba-primary-1 { color: rgba(255,255,255,1) }
.rgba-primary-2 { color: rgba(226,238,249,1) }
.rgba-primary-3 { color: rgba(139,174,208,1) }
.rgba-primary-4 { color: rgba( 93,133,172,1) }


*/


/* General */

:root {
    --primary-color: #B9D1E9;
}

.red {
    background-color: #ffcdd2;
    border-color: #ffcdd2 !important;
    color: #c63737;
}


.orange{
    background-color: #feedaf;
    border-color: #feedaf !important;
    color: darkorange;
}

.green{
    background-color: #c8e6c9;
    border-color: #c8e6c9 !important;
    color: green;
}

/* Table */

.table-content .p-button.p-button-text{
    color: #8BAED0 !important;
}

.table-content .p-button.p-button-text:hover{
    box-shadow: 0 0 0 0.2rem #8BAED0 !important;
    background: transparent;
}

.table-content .p-button.p-button-text:focus{
    box-shadow: 0 0 0 0.2rem transparent;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
    background-color: #B9D1E9;
}

.p-dropdown:not(.p-disabled):hover, .p-dropdown.p-component.p-dropdown-open, .p-dropdown:not(.p-disabled).p-focus{
    border-color: #B9D1E9;
    box-shadow: 0 0 0 0.1rem #B9D1E9;
}

.p-datatable .p-datatable-header {
    background-color: white;
    padding: 0.2rem 0rem;
}

.p-link:focus {
    box-shadow: 0 0 0 0.2rem transparent;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
    background: #E2EEF9;
}

.p-datatable .p-datatable-thead > tr > th{
    background: #E2EEF9;
}

.p-datatable .p-paginator-bottom{
    display:none;
}

/* Details */
.p-card{
    box-shadow: 0 3px 1px -1px rgb(185, 209, 233), 0 3px 1px 0 rgb(185, 209, 233), 0 1px 3px 0 rgb(185, 209, 233);
    border-radius: 10px;
}

.p-card .p-card-content{
    padding: 0rem 0rem 1rem 0rem;
}

.p-card .p-card-body {
    padding: 0rem;
}

.close-button .p-button.p-button-text{
    background-color: transparent;
    color: #8BAED0;
    border-color: transparent;
}

.close-button .p-button.p-button-text:hover{
    background-color: transparent;
    color: #5D85AC  ;
    border-color: transparent;
}

.close-button .p-button.p-button-text:hover{
    box-shadow: 0 0 0 0.2rem transparent;
}



/* Filtros */
.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.1rem #B9D1E9;
    border-color: #B9D1E9;
}


.p-inputtext:enabled:hover{
    border-color: #B9D1E9;
}

.red input.p-inputnumber-input.p-inputtext.p-component.p-filled{
    background-color: #ffcdd2;
    border-color: #ffcdd2 !important;
    color: #c63737;
}

.orange input.p-inputnumber-input.p-inputtext.p-component.p-filled{
    background-color: #feedaf;
    border-color: #feedaf !important;
    color: darkorange;
}

.green input.p-inputnumber-input.p-inputtext.p-component.p-filled{
    background-color: #c8e6c9;
    border-color: #c8e6c9 !important;
    color: green;
}


.red .p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.04rem #c63737;
    border-color: #ffcdd2;
}

.red .p-inputtext:enabled:hover{
    border-color: #ffcdd2;
}

.orange .p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.04rem darkorange;
    border-color: #feedaf;
}

.orange .p-inputtext:enabled:hover{
    border-color: #feedaf;
}


.green.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.04rem green;
    border-color:  #c8e6c9;
}

.green.p-inputtext:enabled:hover{
    border-color:  #c8e6c9;
}

.chromosome-dropdown .p-multiselect .p-multiselect-panel, 
.sift-dropdown .p-multiselect .p-multiselect-panel{
    min-width: 180px !important;
    max-width: 220px;
}

.effects-dropdown .p-multiselect .p-multiselect-panel,
.biotype-dropdown .p-multiselect .p-multiselect-panel{
    min-width: 260px !important;
}

.polyphen-dropdown .p-multiselect .p-multiselect-panel{
    min-width: 220px !important;
}

.p-multiselect-panel .p-multiselect-items-wrapper .p-multiselect-item{
    word-wrap: break-word;      /* IE 5.5-7 */
    white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
    white-space: pre-wrap;
    text-align: left;
    text-transform: capitalize;
    word-break: break-word;
}

/*.filters-content .ng-trigger.ng-trigger-overlayAnimation.p-dropdown-panel.p-component.ng-star-inserted{
    top: 40px !important;
}

.p-dropdown .p-dropdown-label{
    text-transform: capitalize;
}*/

.ng5-slider .ng5-slider-bar{
    background-color:  #8BAED0 !important;
}

.ng5-slider .ng5-slider-pointer {
    background-color:  #8BAED0 !important;
    
}

.ng5-slider .ng5-slider-pointer.ng5-slider-active:after {
    background-color: white !important;
}

:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.polyphen-dropdown .p-multiselect-label-container {
    min-width: 80px !important;
}

.chromosome-dropdown .p-multiselect-label-container{
    width: 100px !important;
}

.p-multiselect:not(.p-disabled):hover {
    border-color: #B9D1E9;
    box-shadow: 0 0 0 0.1rem #B9D1E9;
}

.p-multiselect:not(.p-disabled):focus {
    border-color: #B9D1E9;
    box-shadow: 0 0 0 0.1rem #B9D1E9;
}

.p-multiselect.p-component.p-multiselect-open{
    box-shadow: 0 0 0 0.1rem #B9D1E9;
}

.p-multiselect-label{
    color: #495057;
}

.p-listbox .p-listbox-list .p-listbox-item.p-highlight{
    background-color: #8BAED0 ;
}

ul.p-listbox-list{
    height: 100px;
}

.p-listbox .p-listbox-list .p-listbox-item:focus {
    box-shadow: inset 0 0 0 0.15rem transparent;
}

.p-multiselect {
    border: 1px solid #B9D1E9;
}

.p-inputtext {
    border-color: #B9D1E9;
}

.search-list .p-listbox.p-component {
    position: absolute;
    z-index: 10;
    width: 16%;
}

.p-checkbox .p-checkbox-box.p-highlight{
    background: #5D85AC ;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight{
    background: #8BAED0 ;
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
    box-shadow: inset 0 0 0 0.15rem transparent;
}

.p-chips .p-chips-multiple-container .p-chips-token{
    background: #8BAED0;

}

.p-inputnumber-input{
    width:105px;
}

.search-gene .viewing-genes .p-chips .p-chips-multiple-container .p-chips-input-token input {
    display:none;
}

ul.p-inputtext.p-chips-multiple-container{
    cursor: auto;
}

.p-chips .p-chips-multiple-container:not(.p-disabled):hover{
    border-color: #B9D1E9;
}

.p-listbox-header .p-checkbox .p-checkbox-box.p-highlight,
.p-multiselect-header .p-checkbox .p-checkbox-box.p-highlight{
    border-color:  #8BAED0 !important;
}

.p-checkbox .p-checkbox-box:not(.p-disabled):hover {
    border-color: #8BAED0;
}

.p-checkbox .p-checkbox-box.p-highlight:not(.p-disabled):hover {
    background: #5D85AC;
}

.p-listbox-header.ng-star-inserted{
    display:none;
}

.p-multiselect-header .p-checkbox{
    display:none;
}