.details-content{
    height: 100%;
    width: 30%;
    float: left;
    margin-left: 3%;
}

/*.details-card{
    box-shadow: rgb(185, 209, 233) 0px 2px 1px -1px, rgb(185, 209, 233) 0px 1px 1px 0px, rgb(185, 209, 233) 0px 1px 3px 0px !important;
    border-radius: 10px !important;
}
*/
.table-property{
    text-align: center !important;
    padding: 0rem 0.2rem !important;
    border-bottom: 2px solid #e9ecef !important;
}

.table-label{
    text-align: center !important;
    background: white !important;
    width: 50%;
}

.gene-space{
    margin-top: 0px;
    text-align: center;
}

.noGmaf-cell{
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    padding: 0.3rem;
    font-style: italic;
}

.population-source{
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    width: 25%;
    float: left;
    padding: 0.25em 0;
}

.allele-info{
    margin: 5px 0;
}

.effect-description{
    display: none;
    border: 2px solid #F1F4F7; 
    border-radius: 15px;
    padding: 5px;
    font-size: 14px;
    background-color: #F1F4F7;
    font-weight: 500;
    text-align: center;
    color:#495057;
    margin-top: 5px;
}

#effect-space{
    margin-bottom: 20px;
    text-align: center;
}

.effect-name{
    text-transform: capitalize;
    cursor: pointer;
    border-bottom: #495057 dotted 1px;
}
/* Creacion de triangulos para bocadillos
.effect-description:before{
    border: 12px solid #e9ecef;
    content: '';
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    bottom: 24%;
}*/

#effect-space:hover .effect-description{
    display: block;
}

.details-table th{
    background-color: #F1F4F7 !important;
    padding: 14px;
}

.details-table.first-choice .label{
    width: 40%;
}

.label{
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    margin: 0 auto;
    width: 100%;
}

.gene-link{
    color: #88B8E8;
    font-weight: 500;
}

.none{
    display: none !important;
}

.table-property.population{
    padding: 7px 5px !important;
}

.table-label.population{
    width: 100px;
}
/*
.default-element{
    z-index: -1;
}*/

.hide-elements{
    display: flex;
    align-items: center;
}
