.container {
    padding-left: 50px;
    padding-right: 50px;
}

.header {
	display: flex;
    align-items: center;
    background-color: #9cc2e5;
    border: 2px solid #000;
}

.header .title {
    flex-grow: 1;
    text-align: center;
}

.button {
    background-color: transparent;
    border: none;
    padding: 10px;
}

.title {
    text-align: center;
}

.loadingContainer {
    text-align: center; 
    border: 2px solid;
}

.table {
	border: 1px solid;
	margin-bottom: 0px;
}

.tableHeader {
    background-color: #9cc2e5;
}

.variantSymbol {
    position: absolute;
    bottom: 100px;
    background-color: #9cc2e5;
}
 
table {
	text-align: center;
} 

td {
    text-overflow: ellipsis;
}