.table-content{
    height: 100%;
    width: 67%;
    float: left;
}

.selection{
    width: 100%;
}

.table-header th{
    background-color: #E2EEF9  !important;
}

.buttons-pannel {
    width: 86%;
    margin: 0px 5px;
}

.buttons-pannel.short {
    width: 80%;
    margin: 0px 5px;
}

.page-pannel {
    float: right;
    margin: 0 auto;
}

.selected{
    background-color: #E2EEF9  !important;
    border: 3px solid  #B9D1E9 !important;
    font-weight: 600;
    text-align: center;
}

.table-row{
    cursor: pointer;
}

.table-property{
    text-align: center !important;
    padding: 0rem 0rem !important;
}

.table-label{
    text-align: center !important;
}

.table-content th{
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.table-content td.variant-column{
    word-wrap: break-word;     
    white-space: -moz-pre-wrap; 
    white-space: pre-wrap;
}

.label{
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
    margin: 0 auto;
    width: 80%;
}

.label.text{
    width: 90%;
    font-size: 10px;
}

.table-property.variant-column{
    padding: 0 10px !important;
}

.table-header, .table-footer{
    display: flex;
}

.variant-refValue{
    margin-top: 5px;
}

.variant-altValue{
    margin-bottom: 5px;
}

.variant-moreDataRef{
    margin-top: -5px;
    margin-bottom: 0;
}

.variant-moreDataAlt{
    margin-top: -5px;
    margin-bottom: 0;
}

.variant-moreIcon, .variant-lessIcon{
    color: #8BAED0;
    font-weight: 700;
}

.ref.variant-moreIcon{
    margin-top: -15px;
}

.alt.variant-moreIcon{
    margin-top: -4px;
    margin-left: -6px;
}

.alt.variant-lessIcon{
    margin-top: 0;
    margin-bottom: 5px;
}

.ref.variant-lessIcon{
    margin-top: 0;
}

.variant-moreIcon:hover, .variant-lessIcon:hover{
   text-decoration: underline;
}

.bottom-pannel{
    display: flex;
    margin-bottom: 100px;
    border-top: 1px solid #E2EEF9;
    border-bottom: 1px solid #E2EEF9;
    padding: 10px;
    justify-content: flex-end;
}

.pagination-bottom{
    width: 100%;
    display:flex;
}

.paginator-left{
    float: left;
}

.paginator-left.paginating{
    width: 97%;
}

.paginator-right{
    float: right;
}

.variant-link{
    color: #8BAED0;
}

.variant-link:hover{
    color: #5D85AC;
}


.no-data{
    margin: 0 auto;
    text-align: center;
    color: #495057;
    font-weight: 500;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.1em;
    word-spacing: 3px;
}

.identifier-space.spacing{
    margin-left: 5px;
}

hr {
    border-top: 1px dotted;
}

.preloader {
    width: 40px;
    height: 40px;
    border: 8px solid #E2EEF9;
    border-top: 8px solid #8BAED0;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin: 0 auto;
    text-align: center;
  }
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.jumpButton{
    background-color: #8BAED0;
    border: #8BAED0;
    box-shadow: 0 3px 1px -2px rgba(1, 1, 1, 0.2), 0 2px 2px 0 rgba(1, 1, 1, 0.14), 0 1px 5px 0 rgba(1, 1, 1, 0.12);
    width: 100px;
}

.jumpButton:hover{
    background-color: #5D85AC;
    border: #5D85AC ;
}

.p-inputnumber{
    height: 1.5rem;
}

.p-inputnumber-input{
    width: 1.5rem;
}

.types{
    background-color: #8BAED0;
    text-align: center;
    border: #8BAED0;
    box-shadow: 0 3px 1px -2px rgba(1, 1, 1, 0.2), 0 2px 2px 0 rgba(1, 1, 1, 0.14), 0 1px 5px 0 rgba(1, 1, 1, 0.12);
}

.types:hover{
    cursor: pointer;
    background-color: #5D85AC;
    border: #5D85AC ;
}

.detailContainer{
    height: 100%;
    width: 30%;
    float: left;
    margin-left: 3%;
}