<div class="container">
    <!-- FILTRO DE GENOTIPOS -->
    <app-genotype-filter
        (resetPageEvent)="resetPage()"
        (notifyFilterEvent)="getVariantsFiltered($event)"></app-genotype-filter>

    <!-- REF Y ALT COMPLETO DE VARIANTE -->
    <div id="refAltContainer">
        <span>{{ variantToShow }}</span>                
    </div> 
    <!-- CABECERA TABLA DE VARIANTE -->
    <div class="header">
        <div class="title">
            <h4>Variant</h4>
        </div>
        <div>
            <button  class="button" type="button" onclick="console.log('prueba')"> 
                <img src="../../../assets/icon/icons8-descargar-64.png" alt="download-button" width="30px" height="30px">
            </button>
        </div>
    </div>
    <!-- FOOTER TABLA DE VARIANTE -->
    <app-table-footer 
        [filteredElements]="filteredElements"
        [first]="first"
        [initial]="initial"
        [last]="last"
        [final]="final"
        [totalPages]="totalPages"
        [numberOfElements]="numberOfElements"
        [pageNumber]="pageNumber"
        (prevPageEvent)="prevPage()"
        (nextPageEvent)="nextPage()"
        (firstPageEvent)="firstPage()"
        (lastPageEvent)="lastPage()"></app-table-footer>   

    <!-- CONTENEDOR CARGANDO --> 
    <div *ngIf="loading" class="loadingContainer">
        <img src="../../../assets/icon/icons8-spinner.gif" alt="loading">
    </div>
    <!-- TABLA DE VARIANTES -->
    <table *ngIf="!loading" class="table">   
        <tr class="tableHeader">
            <th>SNP Id</th>
            <th>Coordinate</th>
            <th>Variant</th>
            <th>Change</th>
            <th>Gene</th>
            <th>Consequence</th>
            <th>DP</th>
            <th>Frecuencia</th>
            <th>GMAF</th>
        </tr>
        <tr 
            *ngFor="let variant of variants.slice(initial,final);let indice=index"
            (click)="selectVariant(variant)"
            [ngClass]="{ 'selected': selectedVariant === variant }"
        >
            <td>
                <a id="identifierLink" href="https://www.ncbi.nlm.nih.gov/snp/{{ variant.identifier }}" target="_blank">
                    <span *ngIf="variant.identifier !== null">{{ variant.identifier }}</span>
                </a>
                <span *ngIf="variant.identifier === null">-</span>
            </td>
            <td>{{ ucsc[indice] }}:{{ variant.position }}</td>
            <td>
                <span *ngIf="variant.reference.length < 7 && variant.alternative.length < 7">
                    {{ variant.reference }} / {{ variant.alternative }}
                </span>
                <span *ngIf="variant.reference.length >= 7"
                    (mouseover)="mouseOver($event,variant.reference,variant.alternative)"
                    (mouseleave)="mouseLeave()">
                    {{ variant.reference.substring(0,6) }}... / {{ variant.alternative }}
                </span>
                <span 
                    *ngIf="variant.alternative.length >= 7"
                    (mouseover)="mouseOver($event,variant.reference,variant.alternative)"
                    (mouseleave)="mouseLeave()">
                    {{ variant.reference }} / {{ variant.alternative.substring(0,6) }}...
                </span>
            </td>
            <td>
                <span *ngIf="variant.consequence[0].hgvsp !== null">{{ variant.consequence[0].hgvsp }}</span>
                <span *ngIf="variant.consequence[0].hgvsp === null">-</span>
            </td>
            <td>{{ geneSymbols[indice] }}</td>
            <td>{{ effect[indice] }}</td>
            <td>{{ dp[indice] }}</td>
            <td>{{ localFrequency[indice] }}</td>
            <td>{{ globalFrequency[indice] }}</td>            
        </tr>
    </table>    
</div>

