<div class="table-content" [ngClass]="{ 'selection': selectedVariants == null}">
  <p-table #dt [value]="variants" [columns]="cols" selectionMode="single" [paginator]="true" [first]="first"
    [rows]="rows">
    <ng-template pTemplate="caption">
      <div class="table-header">
        <div class="buttons-pannel" [ngClass]="{ 'short': selectedVariants != null}">
          <p-button type="button" icon="pi pi-angle-double-left" (click)="firstPage()" ng-reflect-disabled="false"
            styleClass="p-button-text"
            [disabled]="isRealFirstPage() || this.variants.length == 0 || this.variants == undefined"></p-button>
          <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" ng-reflect-disabled="false"
            styleClass="p-button-text"
            [disabled]="isRealFirstPage() || this.variants.length == 0 || this.variants == undefined"></p-button>
          <p-button type="button" icon="pi pi-download" (click)="downloadExcel()" styleClass="p-button-text"
            pTooltip="XLS" tooltipPosition="bottom"></p-button>
          <p-button type="button" icon="pi pi-chevron-right" (click)="next()" styleClass="p-button-text"
            [disabled]="isRealLastPage() || this.variants.length == 0 || this.variants == undefined"></p-button>
          <p-button type="button" icon="pi pi-angle-double-right" (click)="lastPage()" styleClass="p-button-text"
            [disabled]="isRealLastPage() || this.variants.length == 0 || this.variants == undefined"></p-button>
        </div>
        <div class="page-pannel">
          <p *ngIf="totalPages == 0 || realEmpty"> Page 0 of {{totalPages}}</p>
          <p *ngIf="totalPages !=0"> Page {{page}} of {{totalPages}}</p>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-variant>
      <tr (click)="selectVariant(variant)" class="table-row" [ngClass]="{ 'selected': selectedVariants == variant }">
        <!-- INDENTIFIER WITH THEIR EXTERNAL LINKS -->
        <td class="table-property">
          <div class="identifier-space" [ngClass]="{ 'spacing': selectedVariants != null}">
            <a *ngIf="variant.identifier != null && variant.identifier.substring(0,2) == 'rs'" target="_blank"
              class="variant-link"
              href="https://www.ncbi.nlm.nih.gov/snp/{{variant.identifier}}">{{variant.identifier}}</a>
            <p *ngIf="variant.identifier != null && variant.identifier.substring(0,2) != 'rs'">{{variant.identifier}}
            </p>
            <p *ngIf="variant.identifier == null">-</p>
          </div>
        </td>
        <!-- COORDINATES ON THE TABLE -->
        <td class="table-property">
          <p>{{variant.chrom}}:{{variant.pos}}</p>
        </td>
        <td class="table-property variant-column">

          <!-- VARIANT SECTION OF THE TABLE -->
          <!-- NEW MODEL -->
          <div *ngIf="variant.alt.length <= 3 && variant.ref.length <= 3">
            <p>{{variant.alt}}/{{variant.ref}}</p>
          </div>
          <div *ngIf="variant.alt.length > 3 && variant.ref.length <= 3">
            <p class="variant-refValue">{{variant.alt.substring(0,2)}}
              <span [ngbPopover]="popContent" [popoverTitle]="popTitle" [autoClose]="false" #p="ngbPopover" class="alt variant-moreIcon">
              +{{variant.alt.length-2}}</span>
              /{{variant.ref}}
            </p>
          </div>
          <div *ngIf="variant.alt.length <= 3 && variant.ref.length > 3">
            <p class="variant-refValue">{{variant.alt}}
              /{{variant.ref.substring(0,2)}}<span [ngbPopover]="popContent" [popoverTitle]="popTitle" [autoClose]="false" #p="ngbPopover" class="alt variant-moreIcon">
              +{{variant.ref.length-2}}</span>
            </p>
          </div>
          <div *ngIf="variant.alt.length > 3 && variant.ref.length > 3">
            <p class="variant-refValue">{{variant.alt.substring(0,2)}}
              <span [ngbPopover]="popContent" [popoverTitle]="popTitle" [autoClose]="false" #p="ngbPopover" class="alt variant-moreIcon">
              +{{variant.alt.length-2}}</span>
              /{{variant.ref.substring(0,2)}}<span [ngbPopover]="popContent" [popoverTitle]="popTitle" [autoClose]="false" #p="ngbPopover" class="alt variant-moreIcon">
              +{{variant.ref.length-2}}</span>
            </p>
          </div>
          <ng-template #popTitle>Full Variant Change</ng-template>
          <ng-template #popContent>{{ variant.alt }} /{{ variant.ref }}</ng-template>
          <!-- END OF NEW MODEL -->
        </td>
        <td class="table-property">
          <p *ngIf="variant.gene != null">{{variant.gene.name}}</p>
          <p *ngIf="variant.gene == null">-</p>
        </td>
        <td class="table-property">
          <p [hidden]="variant.sift == null" class="label text" [ngClass]="{ 'red': variant.sift == 'deleterious', 
                'green': variant.sift == 'tolerated'}">{{variant.sift}}</p>
          <p *ngIf="variant.sift == null">-</p>
        </td>
        <td class="table-property">
          <p [hidden]="variant.polyphen == null || variant.polyphen == 'unknown'" class="label text" [ngClass]="{ 'red': variant.polyphen == 'probably damaging','orange': variant.polyphen == 'possibly damaging', 
                'green': variant.polyphen == 'benign' }">{{variant.polyphen}}</p>
          <p *ngIf="variant.polyphen == null || variant.polyphen == 'unknown'">-</p>
        </td>
        <td class="table-property">
          <p [hidden]="variant.amino == null">{{variant.amino}}</p>
          <p *ngIf="variant.amino == null">-</p>
        </td>
        <!-- GMAF section of the table with the logic for the colouring of the cell -->
        <td class="table-property">
          <p class="label" [hidden]="variant.gmaf == null" [ngClass]="{ 'red': variant.gmaf <= 0.01, 
                'orange': variant.gmaf > 0.01 && variant.gmaf <= 0.1, 'green': variant.gmaf > 0.1 }">
            {{variant.gmaf}}
          </p>
          <p *ngIf="variant.gmaf == null">-</p>
        </td>
      </tr>
    </ng-template>
  </p-table>
  
  
</div>
<app-details *ngIf="selectedVariants != null" [selected]="selectedVariants"
  (closeDetails)="receivingCloseDetails($event)"></app-details>

<div class="bottom-pannel">
    <div class="pagination-bottom">
      
      <div *ngIf="(variants.length == 0 || variants == undefined) && !realEmpty" class="preloader"></div>
      <div *ngIf="realEmpty" class="no-variants">
        <p>No variants available</p>
      </div>
      
    </div>
  </div>