<div class="footer">
    <div class="info">
        <span>Total variants: 56.513</span>
        <span *ngIf="visible">Filtered variants: {{ filteredElements }}</span>
    </div>
    <div class="controls">
        <button type="button" (click)="firstPage()" [disabled]="first">
            <span><<</span>
        </button>
        <button type="button" (click)="prevPage()" [disabled]="first && initial === 0">
            <span><</span>
        </button>
        <span>{{ pageNumber }}</span>
        <button type="button" (click)="nextPage()" [disabled]="last && final === numberOfElements">
            <span>></span>
        </button>
        <button type="button" (click)="lastPage()" [disabled]="last">
            <span>>></span>
        </button>                
    </div>
</div>
